
    .title{
        color: darkslategrey;
        box-shadow: rgb(220, 255, 228) 5px 5px 5px;
        border-radius: 5rem;
        background-color: floralwhite;
        font-weight: normal;
        text-align: center;
        width: 80%;
        /* float: right; */
    }


 .Categories{ 
    text-align: center;
    border-style: solid;
    border-color: lightpink;
    border-right-color: lightseagreen;
    border-radius: 2rem;
    background-color: lightgreen;
    width: 96%;
    float: inline-end;
    padding: 0.75rem;
}  
.logo{
    width: 16%;
    max-height: 5rem;
    float: inline-start;

}
.Concepts:hover{
    /* text-align: center; */
    color: blue;
    border-radius: 6px;
    box-shadow: hotpink 0.4rem 0.4rem 0.4rem;
    font-weight: bold;
    background-color:rgba(60, 204, 16, 0.493);
    padding: 0.9rem;
}
.Concepts{
    display: flex;
    background-color: rgb(238, 240, 235);
    padding: 0.7rem;
     border: saddlebrown 0.025rem ;
    border-style: solid; 
    text-align:left;
    border-radius: 50px;
}
    

.BackButton{
    text-align: center;
    background-color: lightgrey;
    font-weight: bolder;
}
.flex-container{
    display: flex;
    flex-direction: column;
    float: left; 
    
}
.flex-container > .Menu > .MenuContent{
    display: none;
    border: yellowgreen;
    border-style: solid;
    border-width: thick;
    font-size-adjust: inherit;
    text-align: center;
    padding: 0.4rem; 
} 
.flex-container > .Menu > img{
    width: fit-content;
} 
.ContentTags{
    background-color: lightsteelblue;
    border: limegreen double thick;   
}
.Tags{
    font-size: large;
    box-shadow: grey 5px 5px 5px;
    border-radius: 3rem;
    background-color: lightseagreen;
}
.Tag_Description{
    text-align: left;
}
.content-grid{
    display: flex;
    /* grid-template-columns: min-content auto; */
    flex-direction: row;
    width: 100%;
}
.Menu{
    display: flex;
    flex-direction: column;
}


/* Of Width Less than 697 */
@media (max-width: 697px){ 
    #MenuImage{
        width: min-content;
        border-radius: 0.3rem;
        float: left;
        border: thick gray solid;
    }
    .content-grid{
        flex-direction: column;
        width: 100%;
    }
    .AllConcepts{
        width: 80%;
    }
    .Menu{
        width: 100%;
    }

}
