.title{
    color: darkslategrey;
    float: right;
    flood-opacity: initial;
    box-shadow: rgb(220, 255, 228) 5px 5px 5px;
    border-radius: 5rem;
    background-color: floralwhite;
    font-weight: normal;
}
 #Categories{ 
    text-align: center;
    border-style: solid;
    border-color: lightpink;
    border-right-color: lightseagreen;
    border-right-width: 1rem;
    border-radius: 2rem;
    background-color: lightgreen;
    padding: 2rem;
}  
.logo{
    width: 16%;
    height: 16%;

}
.AllConcepts li ul{
    display: none;
}
.Concepts:hover{
    align-content: center;
    text-align: center;
    color: blue;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: hotpink 0.4rem 0.4rem 0.4rem;
    font-weight: bold;
    background-color:rgba(60, 204, 16, 0.493);
    padding: 0.9rem;
}
.Concepts{
    background-color: rgb(238, 240, 235);
    padding: 0.7rem;
    border: saddlebrown 0.025rem ;
    border-style: solid;
    text-align: center;
    border-radius: 2rem;
}

.AllConcepts li:hover>ul{
    display: contents;
    color: blue;
    border-radius: 5px;
    border-radius: 0.5rem;
    list-style-type: none;
    box-shadow: hotpink;
    font-weight: bold;
}
.AllConcepts{
    list-style: none;
}